.loader-container {
  position: relative;
  margin-top: 25%;
  z-index: 9999; /* Ensure the loader container is above the blurred background */
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid lightblue;
  border-right-color: rgb(10, 10, 10);
  animation: l2 1s infinite linear;
  position: absolute;
  margin-top: 50%;
  top: 50%;
  left: 50%;
  z-index: 10000; /* Ensure the spinner is above the blurred background */
}

@keyframes l2 {
  to {
    transform: rotate(1turn);
  }
}

.loader-container.loading:after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8); /* Adjust opacity as needed */
  backdrop-filter: blur(5px); /* Add blur effect */
}

.loader-container.loading {
  pointer-events: none; /* Disable pointer events on the overlay */
}
